@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------------------
   ELEMENTOR CONVERTED CSS
-----------------------------*/

.elementor-757 .elementor-element.elementor-element-4e392f9 {
  padding: 100px 15px 110px 15px;
}

.elementor-757
  .elementor-element.elementor-element-1d19919
  > .elementor-widget-container {
  padding: 0px 0px 0px 70px;
}

.elementor-757 .elementor-element.elementor-element-0e8473e iframe {
  height: 520px;
}

@media (min-width: 768px) {
  .elementor-757 .elementor-element.elementor-element-648cac6 {
    width: 60%;
  }

  .elementor-757 .elementor-element.elementor-element-5123eab {
    width: 39.332%;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-757 .elementor-element.elementor-element-648cac6 {
    width: 100%;
  }

  .elementor-757 .elementor-element.elementor-element-5123eab {
    width: 59%;
  }
}

@media (max-width: 1024px) {
  .elementor-757
    .elementor-element.elementor-element-648cac6
    > .elementor-element-populated {
    padding: 0px 0px 30px 0px;
  }

  .elementor-757
    .elementor-element.elementor-element-1d19919
    > .elementor-widget-container {
    padding: 0px;
  }
}

/* ----------------------------
   YOUR CUSTOM ANIMATIONS
-----------------------------*/

@keyframes hero-border {
  0% {
    border-radius: 51% 49% 77% 23% / 65% 50% 50% 35%;
  }
  100% {
    border-radius: 30% 70% 28% 72% / 53% 69% 31% 47%;
  }
}

.hero-blob {
  animation: hero-border 5s linear infinite alternate;
}

@keyframes partner-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-partner-scroll {
  animation: partner-scroll 25s linear infinite;
}

/* ....... */

@keyframes partner-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-partner-scroll {
  display: flex;
  width: max-content;
  animation: partner-scroll 25s linear infinite;
}
